<style>
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  
  
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }
  
</style>  


<h1 class="text-center">Suppléments</h1>
   
<div class="row mx-auto " style="margin-top: 4%;">
<div class="d-flex justify-content-around ">
  <div class="card" style="width: 10rem; ">
    <img src="../assets/images/salade1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Menu n°1</h5>
      <a href="#" class="btn btn-primary" style="margin:auto">Commander</a>
    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <img src="../assets/images/salade2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Menu n°1</h5>
      <a href="#" class="btn btn-primary" style="margin:auto">Commander</a>
    </div>
  </div>
  <div class="card" style="width: 10rem; ">
    <img src="../assets/images/salade3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Menu n°1</h5>
      <a href="#" class="btn btn-primary" style="margin:auto">Commander</a>
    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <img src="../assets/images/salade4.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Menu n°1</h5>
      <a href="#" class="btn btn-primary" style="margin:auto">Commander</a>
    </div>
  </div>
</div>
</div>

<div class="row mx-auto">
<div class="d-flex justify-content-around" style="margin-top: 4%;">
  <div class="card" style="width: 10rem; ">
    <img src="../assets/images/salade5.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Menu n°1</h5>
      <a href="#" class="btn btn-primary" style="margin:auto">Commander</a>
    </div>
  </div>
  <div class="card" style="width: 10rem; ">
    <img src="../assets/images/salade6.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Menu n°1</h5>
      <a href="#" class="btn btn-primary" style="margin:auto">Commander</a>
    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <img src="../assets/images/salade7.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Menu n°1</h5>
      <a href="#" class="btn btn-primary" style="margin:auto">Commander</a>
    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <img src="../assets/images/salade8.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Menu n°1</h5>
      <a href="#" class="btn btn-primary" style="margin:auto">Commander</a>
    </div>
  </div>
</div>
</div>
