
  <style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    
    
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    
  </style>  

<h1 class="text-center">Personnalisation de burger <br> - <br> Choix du pain </h1>


<div class="row mx-auto " style="margin-top: 4%;">
  <div class="d-flex justify-content-around ">
    <div class="card" style="width: 10rem; ">
      <img src="../assets/images/burger1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Menu n°1</h5>
        <a href="#" class="btn btn-primary" style="margin:auto" routerLink="/creation-burger" routerLinkActive="active">Personnaliser</a>
      </div>
    </div>
    <div class="card" style="width: 10rem;">
      <img src="../assets/images/burger1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Menu n°1</h5>
        <a href="#" class="btn btn-primary" style="margin:auto">Commander</a>
      </div>
    </div>
  </div>

</div>


<div class="container text-center" style="margin-top:10%;">
  <div class="row justify-content-around">
    <div class="col">
      <a class="btn btn-primary" href="#" role="button" routerLink="/burgers" routerLinkActive="active">Annuler</a>
    </div>
    <div class="col">
      <a class="btn btn-primary" href="#" role="button">Suivant</a>
    </div>
  </div>
</div>
    




        